.wrap {
    width: 260px;
    height: 840px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
  }
  .wrap:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 200px solid #CCF9F6;
    border-top: 380px solid #d5ff86;
    border-right: 200px solid #d8ff6c;
    border-bottom: 280px solid #CCF9F6;
    z-index: -1;
    left: -70px;
    top: 0;
  }
  .wrap p {
    font-size: 14px;
    line-height: 1.5;
  }
  .wrap a {
    text-decoration: none;
    color: #FF9B6C;
    font-weight: bold;
  }

span {
    font-weight: bold;
    color: #FF9B6C;
}